<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script type="application/ld+json">
   {
       "@context": "http://schema.org",
       "@type": "NGO",
       "address": {
           "@type": "PostalAddress",
           "addressLocality": "{{ site.address.locality }}",
           "postalCode": "{{ site.address.postcode }}",
	   "postOfficeBoxNumber": "{{ site.address.pobox }}"
       },
       "email": "{{ site.email }}",
       "name": "New Cyprus Association",
       "telephone": "{{ site.telephone }}"
   }
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  {% if jekyll.environment == 'production' and site.piwik_analytics %}
  {% include piwik-analytics.html %}
  {% endif %}
</head>
