---
layout: default
---

<div class="home">
    
    <h1 class="page-heading">Archive</h1>
    
    {{ content }}
    <ul class="post-list">
	{% for post in site.archive %}
	<li>
            <span class="post-meta">
		<i class="fas fa-tags"></i>
		{% for tag in post.tags %}
		{{ tag }} 
		{% endfor %}
		{% if post.year %}
		| Δημοσιεύτηκε το {{ post.year }}
		{% endif %}
		{% if post.language %}
		| Γλώσσα {{ post.language }}
		{% endif %}
	    </span>

            <h2>
		<a class="post-link" href="{{ site.baseurl_root | append: post.pdf_path }}" target="_blank" download="{{ post.pdf_name }}">{{ post.title | escape }}</a>
            </h2>
	</li>
	{% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}
    <ul class="pager">
	{% if paginator.previous_page %}
	<li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
	</li>
	{% endif %}
	{% if paginator.next_page %}
	<li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
	</li>
	{% endif %}
    </ul>
    {% endif %}

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
